<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <title>Time parser</title>
 </head>

 <body>
    <form id="parse-form">
        <input type="text" name="str" placeholder="input the time string" />
        <input type="submit" value="parse" id="parse-btn" />
    </form>
    <script type="text/javascript" src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        $('#parse-form').submit(function(e) {
            e.preventDefault();
            location.href = '/' + $('input[name="str"]').val();
        });
    </script>
 </body>
</html>
